
<!DOCTYPE html>
<html>
    <head>
        <title>TestTest</title>
        <style>
            body {
             
            }
            table, th, td {
                border: 1px solid black;
                text-align: right;
            }
            
            tr:nth-child(even) { 
                background-color: #e6ffff; 
            } 
            
            .small_wording{
                font-size: 12px;
            }
        </style>
        
        <script>
            document.addEventListener("DOMContentLoaded", function(){
                var d = new Date();
                document.getElementById("mytime").innerHTML = d;
            });
        </script>
    </head>
    <body>
        <center><h3 id="mytime"></h3></center>
        
        <!------------ FB branding------------->
        <!------------ FB branding------------->         
        <h3>FB branding: {{budget_dic.fb_branding}}</h3>
        <table>
        <tr>
            <td class="small_wording">後臺狀態</td>
            <td>campaign_id</td>
            <td class="small_wording">目標類別</td>
            <td class="small_wording" style="background-color:DeepPink;">表定走期</td>
            <td class="small_wording" style="background-color:DeepPink;">走了幾天</td>
            <td class="small_wording" style="background-color:Yellow;">表定 KPI</td>
            <td class="small_wording" style="background-color:Yellow;">目前 CPC</td>
            <td class="small_wording" style="background-color:GreenYellow;">表定成果數</td>
            <td class="small_wording" style="background-color:GreenYellow;">目前成果數</td>
            <td class="small_wording" style="background-color:GreenYellow;">至今應有成果數</td>
            <td class="small_wording" style="background-color:Cyan;">表定總預算</td>
            <td class="small_wording" style="background-color:Cyan;">表定日預算</td>
            <td class="small_wording" style="background-color:#d9b3ff;">目前花費</td>
            <td class="small_wording" style="background-color:#d9b3ff;">目前應有花費</td>
            <td class="small_wording">AI 開始日</td>
            <td class="small_wording">AI 結束日</td>
            <td class="small_wording">活動名稱</td>
            <td class="small_wording">帳號名稱</td>
            <td class="small_wording">token name</td>
            <td class="small_wording">currency</td>
        </tr>
            
            
        {% for campaign in campaign_fb_branding_list %}      
            <tr>
                {% if campaign.delivery_status != "ACTIVE" %}
                    <td class="small_wording" style="background-color:Tomato;">{{campaign.delivery_status}}</td>
                {% else %}
                    <td class="small_wording">{{campaign.delivery_status}}</td>
                {% endif %}
                <td class="small_wording">{{campaign.campaign_id}}</td>
                <td class="small_wording">{{campaign.charge_type}}</td>             
                <td>{{campaign.ai_period}}</td>
                <td>{{campaign.ai_running_days}}</td>
                
                <td>{{campaign.kpi_cpc}}</td>
                
                
                {% if campaign.current_cpc >= campaign.kpi_cpc %}
                    <td style="background-color:Tomato;">{{campaign.current_cpc}}</td>
                {% else %}
                    <td>{{campaign.current_cpc}}</td>
                {% endif %}
                
                <td>{{campaign.destination}}</td>
                {% if campaign.destination_speed_ratio >= 1 %}
                    <td>{{campaign.current_target_count}}</td>
                {% else %}
                    <td style="background-color:#ffffb3;">{{campaign.current_target_count}}</td>
                {% endif %}
                <td>{{campaign.destination_count_until_today}}</td>
               
                
                <td>{{campaign.ai_spend_cap}}</td>
                <td>{{campaign.ai_daily_budget}}</td>
                <td>{{campaign.current_total_spend}}</td>
                <td>{{campaign.spend_until_today}}</td>
                
                <td>{{campaign.ai_start_date}}</td>
                {% if campaign.ai_period == campaign.ai_running_days %}
                    <td style="background-color:#ff9900;">{{campaign.ai_stop_date}}</td>
                {% else %}
                    <td>{{campaign.ai_stop_date}}</td>
                {% endif %}
                
                {% if campaign.current_target_count == 0 %}
                    <td class="small_wording" style="background-color:#f9e6ff;">{{campaign.name}}</td>
                {% else %}
                    <td class="small_wording" >{{campaign.name}}</td>
                {% endif %}
                
                <td class="small_wording">{{campaign.account_name}}</td>
                <td class="small_wording">{{campaign.token_name}}</td>
                <td class="small_wording">{{campaign.currency}}</td>
            </tr>            
        {% endfor %}    
        </table> 
        
        
        
        <!------------ FB performance------------->
        <!------------ FB performance------------->
        <h3>FB performance: {{budget_dic.fb_performance}}</h3>
        <table>
        <tr>
            <td class="small_wording">後臺狀態</td>
            <td>campaign_id</td>
            <td class="small_wording">目標類別</td>
            <td class="small_wording" style="background-color:DeepPink;">表定走期</td>
            <td class="small_wording" style="background-color:DeepPink;">走了幾天</td>
            <td class="small_wording" style="background-color:Yellow;">表定 KPI</td>
            <td class="small_wording" style="background-color:Yellow;">目前 CPC</td>
            <td class="small_wording" style="background-color:GreenYellow;">表定成果數</td>
            <td class="small_wording" style="background-color:GreenYellow;">目前成果數</td>
            <td class="small_wording" style="background-color:GreenYellow;">至今應有成果數</td>
            <td class="small_wording" style="background-color:Cyan;">表定總預算</td>
            <td class="small_wording" style="background-color:Cyan;">表定日預算</td>
            <td class="small_wording" style="background-color:#d9b3ff;">目前花費</td>
            <td class="small_wording" style="background-color:#d9b3ff;">目前應有花費</td>
            <td class="small_wording">AI 開始日</td>
            <td class="small_wording">AI 結束日</td>
            <td class="small_wording">活動名稱</td>
            <td class="small_wording">帳號名稱</td>
            <td class="small_wording">token name</td>
            <td class="small_wording">currency</td>
        </tr>
            
            
        {% for campaign in campaign_fb_performance_list %}      
            <tr>
                {% if campaign.delivery_status != "ACTIVE" %}
                    <td class="small_wording" style="background-color:Tomato;">{{campaign.delivery_status}}</td>
                {% else %}
                    <td class="small_wording">{{campaign.delivery_status}}</td>
                {% endif %}
                <td class="small_wording">{{campaign.campaign_id}}</td>
                <td class="small_wording">{{campaign.charge_type}}</td>             
                <td>{{campaign.ai_period}}</td>
                <td>{{campaign.ai_running_days}}</td>
                
                <td>{{campaign.kpi_cpc}}</td>
                
                
                {% if campaign.current_cpc >= campaign.kpi_cpc %}
                    <td style="background-color:Tomato;">{{campaign.current_cpc}}</td>
                {% else %}
                    <td>{{campaign.current_cpc}}</td>
                {% endif %}
                
                <td>{{campaign.destination}}</td>
                {% if campaign.destination_speed_ratio >= 1 %}
                    <td>{{campaign.current_target_count}}</td>
                {% else %}
                    <td style="background-color:#ffffb3;">{{campaign.current_target_count}}</td>
                {% endif %}
                <td>{{campaign.destination_count_until_today}}</td>
               
                
                <td>{{campaign.ai_spend_cap}}</td>
                <td>{{campaign.ai_daily_budget}}</td>
                <td>{{campaign.current_total_spend}}</td>
                <td>{{campaign.spend_until_today}}</td>
                
                <td>{{campaign.ai_start_date}}</td>
                {% if campaign.ai_period == campaign.ai_running_days %}
                    <td style="background-color:#ff9900;">{{campaign.ai_stop_date}}</td>
                {% else %}
                    <td>{{campaign.ai_stop_date}}</td>
                {% endif %}
                
                {% if campaign.current_target_count == 0 %}
                    <td class="small_wording" style="background-color:#f9e6ff;">{{campaign.name}}</td>
                {% else %}
                    <td class="small_wording" >{{campaign.name}}</td>
                {% endif %}
                
                <td class="small_wording">{{campaign.account_name}}</td>
                <td class="small_wording">{{campaign.token_name}}</td>
                <td class="small_wording">{{campaign.currency}}</td>
            </tr>            
        {% endfor %}    
        </table> 
        
        
        <!------------ GDN ------------->
        <!------------ GDN ------------->
        <h3>GDN: {{budget_dic.gdn}}</h3>
        <table>
        <tr>
            <td>campaign_id</td>
            <td>目標類別</td>
            <td style="background-color:DeepPink;">表定走期</td>
            <td style="background-color:DeepPink;">走了幾天</td>
            <td style="background-color:Yellow;">表定 KPI</td>
            <td style="background-color:Yellow;">目前 CPC</td>
            <td style="background-color:GreenYellow;">表定成果數</td>
            <td style="background-color:GreenYellow;">目前成果數</td>
            <td style="background-color:GreenYellow;">至今應有成果數</td>
            <td style="background-color:Cyan;">表定總預算</td>
            <td style="background-color:Cyan;">表定日預算</td>
            <td style="background-color:#d9b3ff;">目前花費</td>
            <td style="background-color:#d9b3ff;">目前應有花費</td>
            <td>AI 開始日</td>
            <td>AI 結束日</td>
            <td>活動名稱</td>
            <td>帳號名稱</td>
            <td>token name</td>
        </tr>
            
            
        {% for campaign in campaign_gdn_list %}      
            <tr>
                <td>{{campaign.campaign_id}}</td>
                <td class="small_wording">{{campaign.charge_type}}</td>             
                <td>{{campaign.ai_period}}</td>
                <td>{{campaign.ai_running_days}}</td>
                
                <td>{{campaign.kpi_cpc}}</td>
                
                
                {% if campaign.current_cpc >= campaign.kpi_cpc %}
                    <td style="background-color:Tomato;">{{campaign.current_cpc}}</td>
                {% else %}
                    <td>{{campaign.current_cpc}}</td>
                {% endif %}
                
                <td>{{campaign.destination}}</td>
                {% if campaign.destination_speed_ratio >= 1 %}
                    <td>{{campaign.current_target_count}}</td>
                {% else %}
                    <td style="background-color:#ffffb3;">{{campaign.current_target_count}}</td>
                {% endif %}
                <td>{{campaign.destination_count_until_today}}</td>
               
                
                <td>{{campaign.ai_spend_cap}}</td>
                <td>{{campaign.ai_daily_budget}}</td>
                <td>{{campaign.current_total_spend}}</td>
                <td>{{campaign.spend_until_today}}</td>
                
                <td>{{campaign.ai_start_date}}</td>
                {% if campaign.ai_period == campaign.ai_running_days %}
                    <td style="background-color:#ff9900;">{{campaign.ai_stop_date}}</td>
                {% else %}
                    <td>{{campaign.ai_stop_date}}</td>
                {% endif %}
                
                {% if campaign.current_target_count == 0 %}
                    <td class="small_wording" style="background-color:#f9e6ff;">{{campaign.name}}</td>
                {% else %}
                    <td class="small_wording" >{{campaign.name}}</td>
                {% endif %}
                
                <td class="small_wording">{{campaign.customer_id}}</td>
                <td class="small_wording">{{campaign.token_name}}</td>
                
            </tr>            
        {% endfor %}    
        </table> 
        
        
        <!------------ GSN ------------->
        <!------------ GSN ------------->
        <h3>GSN: {{budget_dic.gsn}}</h3>
        <table>
        <tr>
            <td>campaign_id</td>
            <td>目標類別</td>
            <td style="background-color:DeepPink;">表定走期</td>
            <td style="background-color:DeepPink;">走了幾天</td>
            <td style="background-color:Yellow;">表定 KPI</td>
            <td style="background-color:Yellow;">目前 CPC</td>
            <td style="background-color:GreenYellow;">表定成果數</td>
            <td style="background-color:GreenYellow;">目前成果數</td>
            <td style="background-color:GreenYellow;">至今應有成果數</td>
            <td style="background-color:Cyan;">表定總預算</td>
            <td style="background-color:Cyan;">表定日預算</td>
            <td style="background-color:#d9b3ff;">目前花費</td>
            <td style="background-color:#d9b3ff;">目前應有花費</td>
            <td>AI 開始日</td>
            <td>AI 結束日</td>
            <td>活動名稱</td>
            <td>帳號名稱</td>
            <td>token name</td>
        </tr>
            
            
        {% for campaign in campaign_gsn_list %}      
            <tr>
                <td>{{campaign.campaign_id}}</td>
                <td class="small_wording">{{campaign.charge_type}}</td>             
                <td>{{campaign.ai_period}}</td>
                <td>{{campaign.ai_running_days}}</td>
                
                <td>{{campaign.kpi_cpc}}</td>
                
                
                {% if campaign.current_cpc >= campaign.kpi_cpc %}
                    <td style="background-color:Tomato;">{{campaign.current_cpc}}</td>
                {% else %}
                    <td>{{campaign.current_cpc}}</td>
                {% endif %}
                
                <td>{{campaign.destination}}</td>
                {% if campaign.destination_speed_ratio >= 1 %}
                    <td>{{campaign.current_target_count}}</td>
                {% else %}
                    <td style="background-color:#ffffb3;">{{campaign.current_target_count}}</td>
                {% endif %}
                <td>{{campaign.destination_count_until_today}}</td>
               
                
                <td>{{campaign.ai_spend_cap}}</td>
                <td>{{campaign.ai_daily_budget}}</td>
                <td>{{campaign.current_total_spend}}</td>
                <td>{{campaign.spend_until_today}}</td>
                
                <td>{{campaign.ai_start_date}}</td>
                {% if campaign.ai_period == campaign.ai_running_days %}
                    <td style="background-color:#ff9900;">{{campaign.ai_stop_date}}</td>
                {% else %}
                    <td>{{campaign.ai_stop_date}}</td>
                {% endif %}
                
                {% if campaign.current_target_count == 0 %}
                    <td class="small_wording" style="background-color:#f9e6ff;">{{campaign.name}}</td>
                {% else %}
                    <td class="small_wording" >{{campaign.name}}</td>
                {% endif %}
                
                <td class="small_wording">{{campaign.customer_id}}</td>
                <td class="small_wording">{{campaign.token_name}}</td>
                
            </tr>            
        {% endfor %}    
        </table> 
        
    </body>
</html>
